{%  extends 'base.html' %}
{% block external_top %}
<meta property="og:title" content="{{appworld.app_name}}" />
<meta property="og:type" content="activity" />
<meta property="og:url" content="https://fpage.kr/appworld/detail/{{appworld.id}}" />
<meta property="og:image" content="{{appworld.profile}}" />
<meta property="og:site_name" content="fpage Appworld : {{ appworld.app_name }}" />
<meta property="og:description" content="fpage Appworld :{{ appworld.info_short_kor }}" /> 

{% endblock %}
{%  block content %}
        <div class="row">
		<section class="detail appworld">	
				<header class="{% if appworld.cover %}app{% else %}none{% endif %}">
				<div class="cover_wrap">
				<img src="{{appworld.cover}}" alt="cover" class="cover"/>
				</div>
				<div class="picture_wrap">
					<img src="{{appworld.profile}}" alt="picture" class="picture"/>
				</div>
				
				<span><a href="{{appworld.url}}" target="_blank" style="padding-right:10px">[ {{appworld.category.category}} ] {{appworld.app_name}}</a><a href="{{appworld.url}}" target="_blank" class="btn small primary ">APP 바로가기</a>
				</span>
				
				</header>
				<section class="score">
					<header>
						<h3>
							APP 소개
							
						</h3>
						<div id="fb-root"></div>
							<script>
								(function(d, s, id) {
								  var js, fjs = d.getElementsByTagName(s)[0];
								  if (d.getElementById(id)) return;
								  js = d.createElement(s);
								  js.id = id;
								  js.src = "https://connect.facebook.net/ko_KR/all.js#xfbml=1&appId=120166908127437";
								  fjs.parentNode.insertBefore(js, fjs);
								}(document, 'script', 'facebook-jssdk'));
				
								</script>
								<div class="fb-like" data-href="https://fpage.kr/appworld/detail/{{appworld.id}}" data-send="false" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial" style="position:absolute;top:5px;left:80px"></div>
					</header>
					<article>
						<p>
							{% if appworld.info_short_kor %}
				              {{appworld.info_long_kor}}
				            {% else %}
				              {{appworld.info_long}}
				            {% endif %}
						</p>
					</article>
				</section>

				<section class="category_page">
					<header>
						<h3><span style="float:left">관련 카테고리 APP</span> <a href="/appworld/{{appworld.category.category_eng}}/1/" class="btn small" target="_self" style="float:right;margin-top:2px;margin-right:2px">목록</a></h3>
					</header>
					<article>
						{% for app in relation_category%}
						<a href="/appworld/detail/{{app.id}}" target="_self" class="category_link">
						<figure class="about_category">
						<img src="{{app.profile}}" alt="{{app.page_name}}" />
						<figurecaption>
						 {{app.app_name}}
						</figurecaption>
						</figure>
						 </a>
						{% endfor %}
						
					</article>
				</section>

				<section class="page_comment">
					<header>
						<h3>페이지에 대한 댓글</h3>
					</header>
					<article>
					
						<p>
							<div id="fb-root"></div>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&appId={{app_id}}";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
							<div class="fb-comments" data-href="http://fpage.kr/appworld/detail/{{appworld.id}}" data-num-posts="200" data-width="700" data-mobile="auto-detect"></div>
						</p>
					</article>
				</section>
				
          </section>
          
		   
        </div>
     {% endblock %}