{%  extends 'base.html' %}
{% block external %}

<script src="/scripts/jquery-1.7.2.min.js"></script>
<script>

</script>
<style>
a:hover article{background:#ccc;}

.category_nav{
background-color: #FEFBF3;
border: 1px solid rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
padding: 9px;
}
.category_nav li{float:left;list-style: none;padding-right:10px;margin: 0px}
.event_element figure img{padding:0px;width:120px;height:120px; border: 4px solid #fff;
    border-radius: 2px 2px 2px 2px;}
section.main figure img{padding-top: 0px}
section.main figure{
  background: #fff;
  padding-top: 0px;
  border:1px solid #b2b2b2;
  margin-top:20px;
  width:108px;
  height:108px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.0);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
}
</style>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&appId=120166908127437";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

{% endblock %}
  {%  block content %}
  <div id="fb-root"></div>
	<div class="span4">
        	<h4 class="tab" style="padding-left:20px">APP 월드</h4>
        	<ul>
        		<li><a href="/appworld/all/1" target="_self">페북App 정보</a></li>
        	</ul>
		{% include "banner_left.html" %}
	</div>
  <section class="span12 main " style="min-height:13px;">
    <h3>페북 APP 정보</h3>
    <nav class="category_nav "style="min-height:30px">
      <ul>
        {% for category in category_dic %}
        <li style="margin-bottom:5px;">
          <a href="/appworld/{{category.category}}/1">
            {{category.category_kor}}({{category.count}})
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    {% for app in appworld.object_list %}
    <article class="event_list">
      <div class="event_element" id="">
        <figure>
          <img src="{{app.profile}}" />
        </figure>
        <dl style="width:65%">
          <dt style="position:relative">
            <a href="/appworld/detail/{{app.id}}" target="_self">[{{app.category.category}}] {{app.app_name}} </a>
            {% if (app.app_type=='All') or (app.app_type=='Mobile')%}
           <img src="/images/phone.png" alt="모바일 지원" style="padding-left:5px"/>
            {% endif %}
          </dt>
          <dd>
              <div class="fb-like" data-href="https://fpage.kr/appworld/detail/{{app.id}}" data-send="false" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial"></div><br />
            
            {% if app.info_short_kor %}
              {{(app.info_long_kor[:110] | html2text())}}
            {% else %}
              {{(app.info_long[:110] | html2text())}}
            {% endif %}
          </dd>
        </dl>
        
      </div>
    </article>
    {% endfor %}
  <article class=" centeringContainer ">
    <ul class="pagination centered">
     {% if not prev %}
        <li class="prev disabled">
          <a href="#">&larr; Previous</a>
        </li>
        {% else %}
        <li class="prev">
          <a href="/appworld/{{page_category}}/{{prev}}">&larr; Previous</a>
        </li>
        {% endif %}
        
        {% for list in paging %}
          {% if (list|str_isEqual(page_number)) %}
            <li class="active">
              <a href="#">{{list}} </a>
            </li>
          {% else %}
            <li>
              <a href="/appworld/{{page_category}}/{{list}}/">{{list}}</a>
            </li>
          {% endif %}
        {% endfor %}
        
        {% if not next %}
          <li class="next disabled">
            <a href="#">Next &rarr;</a>
          </li>
        {% else %}
          <li class="next">
            <a href="/appworld/{{page_category}}/{{next}}/">Next &rarr;</a>
          </li>
        {% endif %}
    </ul>
  </article>

   
  </section>
 {% endblock %}

    