<aside class="span6 spon" >
<h3>f-banner</h3>
<ul class="sponseor">
<a href="https://www.facebook.com/countrynhouse" target="_blank">
  <li>
    <figure>
          <figcaption>컨츄리앤하우스
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/ko_KR/all.js#xfbml=1&appId=countrynhouse";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    </script>
    <div class="fb-like" data-href="https://www.facebook.com/countrynhouse" data-send="false" style="float:right" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial"></div>

    </figcaption>
    <img src="https://graph.facebook.com/countrynhouse/picture?type=large" alt="banner"/>
    <p>나와 집을 채워가는 이야기. 인테리어소품, 컨츄리소품, 그릇, 키친툴 등 홈리빙 & 키친.</p>

    </figure>
  </li>
  </a>
  <a href="https://www.facebook.com/skybody1" target="_blank">
  <li>
    <figure>
          <figcaption>하늘체한의원 압구정본점
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/ko_KR/all.js#xfbml=1&appId=skybody1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    </script>
    <div class="fb-like" data-href="https://www.facebook.com/skybody1" data-send="false" style="float:right" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial"></div>

    </figcaption>
          <img src="https://graph.facebook.com/skybody1/picture?type=large" alt="banner"/>
          <p>피부도 스펙이다! S라인도 스펙이다!여드름, 여드름흉터, 다이어트 전문 한의원 <br />주소: 강남구 신사동 613-5 캐럴라인타워 2층, 서울 135-894 전화: 02-517-4331
    </p>

        </figure>
  </li>
  </a>
  <a href="https://www.facebook.com/dolbegae" target="_blank">
  <li>
    <figure>
          <figcaption>돌베개
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "http://connect.facebook.net/ko_KR/all.js#xfbml=1&appId=dolbegae";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    </script>
    <div class="fb-like" data-href="https://www.facebook.com/dolbegae" data-send="false" style="float:right" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial"></div>


    </figcaption>
          <img src="https://graph.facebook.com/dolbegae/picture?type=large" alt="banner" alt="banner"/>
          <p>'돌베개'라는 이름은 장준하 선생의 항일 수기집에서 따온 것입니다. 전태일평전/백범일지/감옥으로부터의사색/강의/열하일기/운명이다/신영복/서경식/유시민</p>
        </figure>
  </li>
  </a>
  <a href="https://www.facebook.com/ncdinos" target="_blank">
  <li>
    <figure>
          <figcaption>NC 다이노스
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/ko_KR/all.js#xfbml=1&appId=ncdinos";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="fb-like" data-href="https://www.facebook.com/ncdinos" data-send="false" style="float:right" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial"></div>
    </figcaption>
          <img src="https://graph.facebook.com/ncdinos/picture?type=large" alt="banner"/>
          <p>한국 프로야구의 '9번째 심장' NC 다이노스의 공식 페이스북 페이지입니다.</p>
        </figure>
  </li>
  </a>
  <a href="https://www.facebook.com/cristerchicken" target="_blank">
  <li>
    <figure>
          <figcaption>크리스터치킨
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/ko_KR/all.js#xfbml=1&appId=cristerchicken";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="fb-like" data-href="https://www.facebook.com/cristerchicken" data-send="false" style="float:right" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial"></div>
    </figcaption>
          <img src="https://graph.facebook.com/cristerchicken/picture?type=large" alt="banner"/>
          <p>신촌의 명소 크리스터치킨을 사랑하는 모든 사람들의 소통공간!여러분이 경험한 크리스터치킨에서의 맛있는 추억 ,즐거운 에피소드들을 공유해주세요!!! 주문배달은 324-9200!!!</p>
        </figure>
  </li>
  </a>
</ul>
  <div id="banner_facebook" style="padding-top:20px;">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <div class="fb-like-box" data-href="https://www.facebook.com/fpage.kr" 
       data-width="252" data-height="500" data-show-faces="false" data-stream="true" data-header="true">
    </div>
  </div>
</aside>